Options +FollowSymLinks -MultiViews
RewriteEngine On
RewriteBase /

DirectorySlash Off

ErrorDocument 404 /error.php
ErrorDocument 403 /error.php

RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?] [NC]
RewriteRule .* error.php [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/$1.php -f
RewriteRule ^(.+?)/?$ $1.php [L]