ErrorDocument 404 /core/views/error/notfound.php
ErrorDocument 403 /core/views/error/notfound.php

RewriteEngine On

RewriteRule ^user/dashboard/?$ /core/views/user/dashboard.php [NC,L]
RewriteRule ^user/settings/?$ /core/views/user/settings.php [NC,L]
RewriteRule ^user/messages/?$ /core/views/user/messages.php [NC,L]
RewriteRule ^user/messages/?-(.+)/?$ /core/views/user/messages.php [NC,L]
RewriteRule ^user/messages/?\+(.+)/?$ /core/views/user/messages.php [NC,L]
RewriteRule ^blog/?$ /core/views/blog/main.php [NC,L]
RewriteRule ^user/online/?$ /core/views/online.php [NC,L]
RewriteRule ^users/([^/]+)/?$ /core/views/users.php?term=$1 [NC,QSA,L]
RewriteRule ^users/?$ /core/views/users.php [NC,L]
RewriteRule ^admin/appeals/?$ /core/views/admin/appeals.php [NC,L]
RewriteRule ^admin/ban/?$ /core/views/admin/ban.php [NC,L]
RewriteRule ^admin/reports/?$ /core/views/admin/reports.php [NC,L]
RewriteRule ^admin/statistics/?$ /core/views/admin/statistics.php [NC,L]
RewriteRule ^admin/assets/?$ /core/views/admin/assets.php [NC,L]
RewriteRule ^admin/unban/?$ /core/views/admin/unban.php [NC,L]
RewriteRule ^admin/newhat/?$ /core/views/admin/newHat.php [NC,L]
RewriteRule ^admin/rewardPostie/?$ /core/views/admin/rewardPostie.php [NC,L]
RewriteRule ^admin/prune/?$ /core/views/admin/prune.php [NC,L]
RewriteRule ^admin/downloadasset/?$ /core/views/admin/assetDownloader.php [NC,L]
RewriteRule ^admin/render/?$ /core/views/admin/render.php [NC,L]
RewriteRule ^admin/?$ /core/views/admin/main.php [NC,L]
RewriteRule ^groups/search/([^/]+)/?$ /core/views/user/groups/search.php?term=$1 [NC,QSA,L]
RewriteRule ^groups/search/?$ /core/views/user/groups/search.php [NC,L]
RewriteRule ^groups/create/?$ /core/views/user/groups/create.php [NC,L]
RewriteRule ^groups/view/([^/]+)/?$ /core/views/user/groups/view.php?id=$1 [NC,QSA,L]
RewriteRule ^groups/admin/([^/]+)/?$ /core/views/user/groups/admin.php?id=$1 [NC,QSA,L]
RewriteRule ^groups/?$ /core/views/user/groups/main.php [NC,L]
RewriteRule ^user/character/?$ /core/views/user/character.php [NC,L]
RewriteRule ^user/logout/?$ /core/views/user/logout.php [NC,L]
RewriteRule ^forum/?$ /core/views/forum/index.php [NC,L]
RewriteRule ^forum-(.+)/?$ /core/views/forum/index.php [NC,L]
RewriteRule ^forum\+(.+)/?$ /core/views/forum/index.php [NC,L]
RewriteRule ^games/new/?$ /core/views/games/new.php [NC,L]
RewriteRule ^games/view/([^/]+)/?$ /core/views/games/view.php?id=$1 [NC,QSA,L]
RewriteRule ^games/?$ /core/views/games/main.php [NC,L]
RewriteRule ^account/suspended?$ /core/views/user/security/banned.php [NC,L]
RewriteRule ^account/appeal?$ /core/views/user/security/appeal.php [NC,L]
RewriteRule ^account/resetpassword/([^/]+)/([^/]+)/?$ /core/views/user/security/resetpassword.php?userid=$1&key=$2 [NC,QSA,L]
RewriteRule ^account/verification/email?$ /core/views/user/security/verifyEmail.php [NC,L]
RewriteRule ^account/verification/twostepauth?$ /core/views/user/security/twostepauth.php [NC,L]
RewriteRule ^catalog/?$ /core/views/catalog/main.php [NC,L]
RewriteRule ^catalog/upload/?$ /core/views/catalog/upload.php [NC,L]
RewriteRule ^catalog/item/([^/]+)/?$ /core/views/catalog/item.php?id=$1 [NC,QSA,L]
RewriteRule ^catalog/configure/([^/]+)/?$ /core/views/catalog/configureitem.php?id=$1 [NC,QSA,L]
RewriteRule ^user/profile/([^/]+)/?$ /core/views/user/profile.php?username=$1 [NC,QSA,L]
RewriteRule ^friends/?$ /core/views/friends/main.php [NC,L]
RewriteRule ^friends/requests/?$ /core/views/friends/requests.php [NC,L]
RewriteRule ^friends/show/([^/]+)/?$ /core/views/friends/show.php?id=$1 [NC,QSA,L]
RewriteRule ^ide/welcome/?$ /core/views/ide/welcome.php [NC,L]
RewriteRule ^ide/ClientToolbox/?$ /core/views/ide/toolbox.php [NC,L]
RewriteRule ^login/requestauth/?$ /core/views/ide/requestauth.php [NC,L]
RewriteRule ^avatar/([^/]+)/?$ /core/func/api/avatar/get.php?uname=$1 [NC,L]
RewriteRule ^avatar/?$ /core/func/api/avatar/get.php?uname=$1 [NC,L]
RewriteRule ^avatar-headshot/([^/]+)/?$ /core/func/api/avatar/get.php?uname=$1&headshot=1 [NC,L]
RewriteRule ^avatar-headshot/?$ /core/func/api/avatar/get.php?uname=$1&headshot=1 [NC,L]
RewriteRule ^asset/?$ /core/func/api/asset/get.php [NC,QSA,L]
RewriteRule ^game/join/?(.*)$ https://assetgame.gtoria.net/game/join/$1 [R=301,NC,L]
RewriteRule ^game/gameserver/?(.*)$ https://assetgame.gtoria.net/game/gameserver/$1 [R=301,NC,L]